body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.stopwatch {
  display: inline-block;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#display {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(192, 58, 80); /* Change timer color to pink */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  background-color: pink; /* Change button background color to pink */
  color: #fff; /* Change button text color to white */
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ff6b9b; /* Change button background color on hover */
}
